<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Categoría</title>
    <link rel="stylesheet" href="../Css/estilos.css"> <!-- Ajustar el path si es necesario -->
</head>
<body>
    <header>
        <h1>Eliminar Categoría</h1>
    </header>
    <main>
        <form action="/categorias/eliminar" method="post">
            <label for="id">ID de Categoría:</label>
            <input type="text" id="id" name="id" required>
            
            <button type="submit">Eliminar</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Ferretería. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
