<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Promoción</title>
    <link rel="stylesheet" href="/Css/estilos.css">
</head>
<body>
    <header>
        <h1>Eliminar Promoción</h1>
    </header>
    <main>
        <form action="/promociones/eliminar" method="post">
            <label for="id">ID de la Promoción a eliminar:</label>
            <input type="number" id="id" name="id" required><br>
            <button type="submit">Eliminar</button>
        </form>
        <a href="/promociones/form">Volver</a>
    </main>
    <footer>
        <p>&copy; 2024 Ferretería. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
