<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insertar Producto</title>
</head>
<body>
    <h1>Insertar Producto</h1>
    <form action="/productos/agregar" method="post">
        <label>Nombre:</label>
        <input type="text" name="nombre" required>
        <br>
        <label>Descripción:</label>
        <input type="text" name="descripcion">
        <br>
        <label>Precio:</label>
        <input type="number" step="0.01" name="precio" required>
        <br>
        <label>Stock:</label>
        <input type="number" name="stock" required>
        <br>
        <label>Categoría:</label>
        <select name="idCategoria" required>
    <option value="" disabled selected>Seleccionar categoría</option>
    <th:block th:each="categoria : ${categorias}">
        <option th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
    </th:block>
</select>

        <br>
        <label>Marca:</label>
        <select name="idMarca" required>
            <option value="" disabled selected>Seleccionar marca</option>
            <th:block th:each="marca : ${marcas}">
                <option th:value="${marca.id}" th:text="${marca.nombre}"></option>
            </th:block>
        </select>
        <br>
        <label>Estado:</label>
        <input type="text" name="estado" required>
        <br>
        <button type="submit">Agregar Producto</button>
    </form>
</body>
</html>
