<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="Css/header.css">
    <link rel="stylesheet" href="Css/estilos.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Ferretería</h1>
        </div>
        <nav>
            <ul>
                <li><a href="Index.html">Inicio</a></li>
                    <li><a href="inventario.html">Inventario</a></li>
                    <li><a href="compras.html">Compras</a></li>
                    <li><a href="usuarios.html">Usuarios</a></li>
                    <li><a href="empleados.html">Empleados</a></li>
                    <li><a href="facturacion.html">Facturación</a></li>
                    <li><a href="#about">Acerca de</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#sesion">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="products">
                <h2>Nuestros Productos</h2>
                <div class="product-list">
                    <div class="product">
                        <h3>Producto 1</h3>
                        <img src="pics/images.jpg" alt=""/>
                        <p>Descripción del producto 1.</p>
                        <p><strong>Precio:</strong> $10.00</p>
                    </div>
                    <div class="product">
                        <h3>Producto 2</h3>
                        <p>Descripción del producto 2.</p>
                        <p><strong>Precio:</strong> $20.00</p>
                    </div>
                    <div class="product">
                        <h3>Producto 3</h3>
                        <p>Descripción del producto 3.</p>
                        <p><strong>Precio:</strong> $15.00</p>
                    </div>
                </div>
            </section>
    </main>
    <footer>
        <p>&copy; 2024 Ferretería</p>
    </footer>
</body>
</html>

